
/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #B21F29;
    font-family: sans-serif;
}

/*
 * Project styling
*/

body {
    background-color: white;
}

#backdrop {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    position: fixed;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 80%); /* Firefox */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%); /* Chrome, Safari */
    vertical-align: baseline;
}

#footer span {
    position: absolute;
    height: 25px;
    width: auto;
    padding: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


#backdrop img {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(8px);
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #B01E24;
    border-bottom: 3px solid white;
}

#parking_finder_logo {
    position: fixed;
    margin-top: 15px;
    height: 90px;
    width: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#settings_button {
    float: right;
    margin-top: 45px;
    margin-right: 30px;
    height: 30px;
    cursor: pointer;
    width: auto;
}

#settings_button:hover {
    transform: scale(1.2);
}

#wku_logo {
    float: left;
    height: 80px;
    width: auto;
    margin-top: 20px;
    margin-left: 30px;
}

#login_form {
    display: none;
    position: fixed;
    padding: 5px;
    font-size: 10pt;
    top: 80px;
    right: 30px;
    width: 220px;
    height: 150px;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 10px;
    text-align: center;
}

#login_form h3 {
    font-size: 12pt;
}

#login_form * {
    margin: 5px;
}

#login_form button {
    padding: 5px;
    border: 1px solid #333333;
    background-color: lightgrey;
}

#parking_lot_list_sorting {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 40%;
    height: 20px;
    text-align: center;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    font-size: 10pt;
    border: 2px solid white;
    padding: 10px;
    opacity: 0.8;
}

.parking_lot {
    width: 100%;
    height: 60px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    font-size: 10pt;
    border: 2px solid white;
    padding: 10px;
    opacity: 0.8;
    margin: 5px;
}

.parking_lot:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

.parking_lot div {
    margin-top: 5px;
}

.parking_lot span {
    float: right;
    margin-right: 15px;
}

.parking_lot h2 {
    width: 50%;
    font-size: 20pt;
    float: left;
    margin-top: 18px;
}

.detailed_parking_lot {
    width: 60%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
}

#return_button {
    margin-top: 30px;
    position: fixed;
    top:70%;
   left: 48%;
    width: 80px;
    height: 30px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
    font-size: 14pt;
    padding-top: 14px;
    text-align: center;
}

#return_button:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

#control_panel_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#control_panel_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #aaaaaa;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    overflow-y: auto;
    text-align: center;
}

#control_panel_container h3 {
    margin-top: 15px;
    border: 2px solid white;
    font-size: 20pt;
    color: white;
    background-color: #B01E24;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#control_panel_container .create_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error_message {
    color: red;
    font-size: 8pt;
    height: 8px;
}

.create_button {
    margin: 5px;
    background-color: #228b22;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 1;
    font-size: 10pt;
}
.create_button:hover {
    background-color: #69D169;
    transform: scale(1.05);
}

.edit_button {
    margin: 5px;
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 1;
    font-size: 10pt;
}


.edit_button:hover {
    background-color: #56b0ff;
    transform: scale(1.05);
}

#create_parking_lot_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#create_parking_lot_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#create_parking_lot_container textarea {
    resize: none;
    width: 40%;
}

#create_parking_lot_container h3 {
    margin-top: 15px;
    font-size: 20pt;
    color: white;
    background-color: #B01E24;
    border-radius: 10px;
    padding: 10px;
}

#create_parking_lot_container img {
    top: -40px;
}

#create_parking_lot_container .create_button {
    margin-bottom: 20px;
}

#create_change_password_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#create_change_password_container textarea {
    resize: none;
    width: 40%;
}

#create_change_password_container h3 {
    margin-top: 15px;
    font-size: 20pt;
    color: white;
    background-color: #B01E24;
    border-radius: 10px;
    padding: 10px;
}

#create_change_password_container img {
    top: -40px;
}

#create_change_password_container .create_button {
    margin-bottom: 20px;
}

.lot_photo_upload {
    width: 140px;
    height: 140px;
    margin: 10px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
}

.inline_lot_photo {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 8px;
}

#lots_control_panel_table {
    border-radius: 20px;
    width: 80%;
}

.lot_table {
    color: #B01E24;
    border: 4px solid white;
    border-collapse: separate;
    background-color: lightgrey;
    margin: 0 auto;
}

.lot_table th {
    border-top: none;
}

.lot_table td:first-child, .lot_table th:first-child {
    border-left: none;
}

.lot_table tr:first-of-type * {
    border-top: none;
}

#lots_control_panel_table th, #lots_control_panel_table td {
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 10px;
    text-align: center;
    vertical-align: middle
}

#lots_control_panel_table td img {
    width: 60px;
    margin: 5px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
}
/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #B21F29;
    font-family: sans-serif;
}

/*
 * Project styling
*/

body {
    background-color: white;
}

#backdrop {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    position: fixed;
    text-align: center;
    color: white;
    height: 120px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 80%); /* Firefox */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%); /* Chrome, Safari */
    vertical-align: baseline;
}

#footer span {
    position: absolute;
    height: 25px;
    width: auto;
    padding: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


#backdrop img {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(8px);
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #B01E24;
    border-bottom: 3px solid white;
}

#parking_finder_logo {
    position: fixed;
    margin-top: 15px;
    height: 90px;
    width: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#settings_button {
    float: right;
    margin-top: 45px;
    margin-right: 30px;
    height: 30px;
    cursor: pointer;
    width: auto;
}

#settings_button:hover {
    transform: scale(1.2);
}

#wku_logo {
    float: left;
    height: 80px;
    width: auto;
    margin-top: 20px;
    margin-left: 30px;
}

#login_form {
    display: none;
    position: fixed;
    padding: 5px;
    font-size: 10pt;
    top: 80px;
    right: 30px;
    width: 220px;
    height: 150px;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 10px;
    text-align: center;
}

#login_form h3 {
    font-size: 12pt;
}

#login_form * {
    margin: 5px;
}

#login_form button {
    padding: 5px;
    border: 1px solid #333333;
    background-color: lightgrey;
}

#parking_lot_list {
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 440px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: scroll;
    display: none;
}

.parking_lot {
    width: 100%;
    height: 60px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    font-size: 10pt;
    border: 2px solid white;
    padding: 10px;
    opacity: 0.8;
    margin: 5px;
}

.parking_lot:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

.parking_lot div {
    margin-top: 5px;
}

.parking_lot span {
    float: right;
    margin-right: 15px;
}

.parking_lot h2 {
    width: 50%;
    font-size: 20pt;
    float: left;
    margin-top: 18px;
    white-space: nowrap;
}

.detailed_parking_lot {
    padding-top: 30px;
    width: 70%;
    height: 50%;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
}

#return_button {
    margin-top: 30px;
    position: fixed;
    top: 80%;
    left: 48%;
    width: 80px;
    height: 30px;
    background-color: dimgrey;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
    display: none;
    font-size: 14pt;
    padding-top: 14px;
    text-align: center;
}

#return_button:hover {
    transform: scale(1.05);
    background-color: grey;
    cursor: pointer;
}

#control_panel_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#control_panel_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #aaaaaa;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    overflow-y: auto;
    text-align: center;
}

#control_panel_container h3 {
    margin-top: 15px;
    border: 2px solid white;
    font-size: 20pt;
    color: white;
    background-color: #B01E24;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#control_panel_container .create_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error_message {
    color: red;
    font-size: 8pt;
    height: 8px;
}

.create_button {
    margin: 5px;
    background-color: #228b22;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 1;
    font-size: 10pt;
}
.create_button:hover {
    background-color: #69D169;
    transform: scale(1.05);
}

.edit_button {
    margin: 5px;
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 1;
    font-size: 10pt;
}


.edit_button:hover {
    background-color: #56b0ff;
    transform: scale(1.05);
}

#create_parking_lot_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#create_parking_lot_container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#create_parking_lot_container textarea {
    resize: none;
    width: 40%;
}

#create_parking_lot_container h3 {
    margin-top: 15px;
    font-size: 20pt;
    color: white;
    background-color: #B01E24;
    border-radius: 10px;
    padding: 10px;
}

#create_parking_lot_container img {
    top: -40px;
}

#create_parking_lot_container .create_button {
    margin-bottom: 20px;
}

.lot_photo_upload {
    width: 140px;
    height: 140px;
    margin: 10px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
}

.inline_lot_photo {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 8px;
}

#lots_control_panel_table {
    width: 80%;
    border-width: 4px;
    border-radius: 20px;
}

table[id^='lot_floors_control_panel_table_'] {
    width: 100%;
    border: none;
}

table.lot_table {
    color: #B01E24;
    border: 1px solid white;
    border-collapse: separate;
    background-color: lightgrey;
    margin: 0 auto;
}

.lot_table th {
    border-top: none;
    border-left: none;
}

.lot_table tr td:first-of-type, .lot_table tr th:first-of-type {
    border-left: none !important;
}

#lots_control_panel_table tr {
    border-left: none;
}

#lots_control_panel_table tr:first-of-type * {
    border-top: none;
}

#lots_control_panel_table tr:first-of-type th:first-of-type {
    border-left: none;
}

#lots_control_panel_table tr:first-of-type td:first-of-type {
    border-left: none;

}

.lot_table th, .lot_table td {
    border-top: 2px solid white;
    padding: 10px;
    text-align: center;
    vertical-align: middle
}

.lot_table td img {
    width: 60px;
    margin: 5px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
}

.lot_table td img.status {
    width: 35px !important;
    border: 1px solid white !important;
}

#control_panel_container img.status {
    cursor: pointer;
}

.closed {
    color: grey;
    background-color: darkgray;
    pointer-events: none;
}

.lot_photo {
    float: left;
    width: 200px;
    height: 200px;
    border: 3px solid #B01E24;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 80px;
    margin-right: 15px;
    margin-top: 80px;
}

.detailed_parking_info {
    float: right;
    width: 45%;
    margin-right: 20px;
    text-align: center;
}

.detailed_parking_info h3 {
    font-size: 20pt;
    margin-top: 18px;
}

.detailed_parking_info table {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 70%;
    margin: 0 auto;
}

.detailed_parking_info th, .detailed_parking_info td {
    border: 2px solid white;
    padding: 5px;
    font-size: 10pt;
}

.detailed_parking_info .floor_scroll {
    right: 0;
    overflow-y: auto;
}

.detailed_parking_info th {
    background-color: gray;
}

.detailed_parking_lot img {
    margin-top: 60px;
    width: 260px;
    height: 260px;
}

.filter_option {
    margin: 5px;
    font-size: 8pt;
}

#create_change_password_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

#create_change_password_clickout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}